.container {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
}

.chartContainer {
    flex-grow: 1;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}